.slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    height: 500px; /* Increased from 350px, adjust as needed */
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
  }
  
  .current {
    opacity: 1;
  }
  /* Arrow Container (Position Below Slider) */
.arrowContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Blinking Arrow Animation */
.blinkingArrow {
  width: 40px;
  height: 40px;
  color: black;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

  