.sticky {
    display: flex;
      color: rgb(61, 7, 239);
     
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 5000;
      background-color: #270ee5;
      justify-content: space-around;
      width: 100%;
    
        
  }
  
  @media screen and (min-width: 500px) {
  .sticky {
      opacity: 0;
  }
  
  
  
  }